@charset "UTF-8";

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #9a63be, #49a09d);
    }

    section#login{
        width: 992px;
        height: 730px;

    }

    section#login > div#campos{
        float: right;
        width: 35%;
        height: 6%;
        padding: 4px;
        margin-right: 60px;
        margin-top: 280px;
        
    }
    section#login > h1{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
        text-align: center center;
       
    }
        input{
        margin-top: 5.8px ;
        margin-left: 0px;
        padding: 5px;

    }
    
    section#login > div#cadastro{
        float: left;
        width: 50%;
        margin: 2px;
    }
    section#login > div#cadastro > form{
     padding: 0px;
     margin-top: 0px;
    }
    
    section#login > p {
        transform: translate(+300%, +1000%);
        font-size: 20px;
        border: 40px;
        width: 210px;
        border-radius: 15px;   
    }
}

