@charset "UTF-8";

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #9a63be, #49a09d);
    }

    section#login{
        width: 992px;
        height: 810px;
    }
    
    section#login > div#campos{
        float: right;
        width: 35%;
        height: 6%;
        padding: 4px;
        margin-right: 60px;
        margin-top: 280px;
        
    }
    section#login > input#abrir{
        transform: translate(+140%, +1070%);
        margin-left: 113px;
    }
    section#login > h1{
        margin-top: -50px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 35px;
       
    }
        input{
        margin-top: 5.8px ;
        margin-left: 0px;
        padding: 5px;

    }
    
    section#login > div#cadastro{
        float: left;
        width: 50%;
        margin: 2px;
    }
    section#login > div#cadastro > form{
     padding: 0px;
     margin-top: 0px;
    }
    
    section#login > p {
        transform: translate(+171%, +1000%);
        
        font-size: 20px;
        border: 21px;
        width: 340px;
        border-radius: 5px;   
    }
    section#login > div#cadastro > i#icon{
        transform: translate(-40%, -15%);
    }
}