@charset "UTF-8";

/*
    PALETA DE CORES
    verde: #49a09d
    lilas: #5f2c82
*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #9a63be ;
    height: 100vh;
    width: 100vw;
}


main{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}
section#login > h1{
    text-align: center;
    margin-top: 35px;

}
div#cadastro >#busca{
    text-align: center;
    font-size: 18px;
    margin: 8px;
    margin-left: 0px;
    padding: 0px;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 500px;
    /* height: 865px; */
    height: 900px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#cadastro{
    display: block;
    padding: 0px;
    margin: 0px;

}

section#login > div#cadastro > p {
    font-size: 17px;
    margin: 1.5px;
    border: black ;
}

section#login > div#cadastro > form{
    
    background-color: white;
    display: block;
    width: 100%;
    height: 33px;
    margin: 0px;
    padding: 1.5px;
    margin-top: 0px;
}

section#login > div#campos{
    height: 35px;
    width: 500px;
    background-size: cover;
    padding: 1px;
    margin-top: 10px;
    margin: 2px;
}

section#login >input#abrir{
    height: 35px;
    width: 340px;
    text-align: center;
    font-size: 1em;
    padding-left: center;
    background-color: white;
    color:  #49a09d;
    border: 1px solid  #70f5f3a1;
    border-radius: 7px;
    text-decoration: none;
    transform: translate(+15%, +120%);
}

section#login > input#abrir:focus-within{
    background-color: #64dfdb;
    border: none
}

 section#login > input#abrir:hover{
    background-color: #6facab93;
    color: black;
}
section#login > p{
    font-size: 20px;
    box-shadow: 0px 0px 2px black;
    margin: 4px;
    background-color: rgba(173, 216, 230, 0.548);
    border: 40px;
    border-radius: 7px;
    padding: 0px;
    margin-top: 2px;
    
}

input{
    background-color: #64dfdb;
    font-size: 1em;
    width: calc(100% - 0px); 
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    margin: 9px;
    margin-left: 0px;
    transform: translateY(-12.5px);
    
}
input#pesquise{
    margin-top: 25px;
    background-color: lightblue;
    color: black;
    padding: 7px;
    margin: 14px;
    margin-left: 0px;
    width: calc(80% - 0px); 
    transform: translateY(-12.5px);
    box-shadow: 0px 0px 5px black;
    
}

input:focus-within{
    background-color: #64dfdb;
    border: none;
}

form > a.botao:hover{
    background-color: #608b8a;
}

section#login > div#cadastro > #icon {
    font-size: larger;
    font-size: 30px;
    background-color: lightblue;
    color: rgba(0, 0, 0, 0.582) !important;
    border: 1px  solid rgba(97, 97, 97, 0.637);
    border-radius: 6px;
    padding: 16px;
    margin: 7px;
    padding-top: 5px;
    height: 37px;
    transform: translate(-35%, -15%);
}
section#login > div#cadastro > #icon:hover{
    background-color: darkgray;
    color: black !important;
}
 
